
<style type="text/css">
    .card {
    background-color: transparent;
    max-width: 700px;
    transition: box-shadow 0.3s;
    }

    .card-img-top {
    width: 100%;
    object-fit: cover;
    margin-bottom: -20px;
    }
    
    .card-body {
    padding: 20px;
    }
    
    .card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-decoration: none;
    transition: background-color 0.2s;
    }
    
    .card-text {
    color: #888;
    margin-bottom: 20px;
    font-size: large;
    letter-spacing: 0.1px;
    }
    
    .unleash-Btn {
    background-color: #2e3339;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-family: Nunito, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: smaller;
    }
    
    .unleash-Btn:hover {
    background-color: #1f2428;
    text-decoration: none;
    color: #fff;
    }
    
    .card-footer {
    background-color: transparent;
    font-size: 12px;
    letter-spacing: 0.1px;
    font-family: Nunito, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    color: #999;
    }

    .footer-text {
    font-style: italic;
    font-weight: 600;
    }
    
    .container {
    margin-top: 5px;
    }

    .explore-link {
    color: #007bff;
    text-decoration: none;
    display: inline-block;
    margin-left: 0;
    position: relative;
    font-size: 90%;
    font-weight: 600;
    cursor: pointer;
    }

    .explore-link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 0;
    background-color: #007bff;
    transition: width 0.3s ease-in-out;
    }

    .explore-link:hover::before {
    width: 100%;
    }
</style>

{% if blog_post %}
<div class="container">
    <div class="row">
        <div class="card m-auto">
            <a href="{% url 'blog:detail' post.slug %}">
                <img class="card-img-top" src="{{blog_post.image.url}}" alt="{{blog_post.title}}">
            </a>
            <div class="card-body mt-2 mb-2">
                <a href="{% url 'blog:detail' post.slug %}" class="card-title">{{blog_post.title}}</a>
                <p class="card-text">{{blog_post.body|safe|truncatechars:250}}</p>
                {% if blog_post.author == request.user %}
                    <a href="{% url 'blog:edit' blog_post.slug %}" class="unleash-Btn">Revise your post</a>
                {% endif %}
            </div>
            <div class="card-footer">
                <span class="footer-text">Keep dazzling the blogosphere!</span> Last modified on <strong>{{blog_post.date_updated}}</strong> by <strong>{{blog_post.author}}</strong>
            </div>
        </div>
    </div>
</div>

{% else %}
<div class="container">
    <div class="row">
        <div class="card m-auto">
            <div class="card-body mt-2 mb-2">
                <h2 class="card-title">
                    Couldn't find “{{query}}”
                </h2>
                <p class="card-text">
                    Try searching again using a different spelling, keyword, or 
                    <a class="explore-link">explore</a> for more content.
                </p>
                <p class="card-text"></p>            
            </div>
        </div>
    </div>
</div>

<script>
    const exploreLink = document.querySelector('.explore-link');

    exploreLink.addEventListener('click', function(event) {
        event.preventDefault();

        const exploreUrl = "{% url 'home' %}";

        window.location.href = exploreUrl;
    });
</script>
{% endif %}