{% autoescape off %}
    Greetings {{ user.email }},

    We have received your request to reset your password, and we are delighted to assist you with the process.

    To initiate the password reset for your Account {{ user.email }} at djBlogge, please click on the following link:

    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

    If you encounter any issues while clicking the link, please ensure that this email has not been marked as spam or junk. Adjusting the email settings should restore the functionality of the links. Alternatively, you can copy the link and paste it directly into your web browser.

    In the event that you did not initiate this password reset request, kindly disregard this email. Rest assured, your password remains secure with us. We wish you a fantastic day ahead! 

    Best regards,

    The Ethereal Blogging Team
    djBlogge
{% endautoescape %}
