{% autoescape off %}
Greetings {{ user.username }},


No worries! We got your request to reset your password and are thrilled to help you with the process.

To initiate the password reset for your account {{ user.username|upper }} at djBlogge, kindly click on the following link:


{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=user|make_random_password:PASSWORD_RESET_TOKEN_LENGTH %}


If you come across any issues while clicking the link, please double-check that this email has not been flagged as spam or trash. Changing the email settings should restore the links' functionality. Rather, you can copy and paste the link into your preferred web browser.

In the situation that you didn't initiate this password reset request, kindly ignore this email. Rest assured, your password remains secure with us. We wish you a fantastic day ahead! 


Warmest regards,

Ethereal Content Crew,
djBlogge.
{% endautoescape %}