<title>Password reset | djBlogge</title>

{% extends 'base.htm' %}

{% load static %}

{% block content %}

<style>
    body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #f5f5f5;
    }

    .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    }

    h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    }

    p {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
    }

    .form-group {
    margin-bottom: 20px;
    }

    label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    }

    input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    }

    button {
    background-color: #2e3339;
    color: #fff;
    border: none;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 100%;
    }

    button:focus {
    outline: none;
    }
</style>
</head>
<body>
<div class="container">
    <h1>Password Reset</h1>
    <p>Please enter your new password below to reset your account password.</p>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="new_password1">New Password:</label>
            <input type="password" name="new_password1" id="new_password1" required>
        </div>
        <div class="form-group">
            <label for="new_password2">Confirm New Password:</label>
            <input type="password" name="new_password2" id="new_password2" required>
        </div>
        <button type="submit">Reset Password</button>
    </form>
    <p>Your password can’t be too similar to your other personal information.</p>
    <p>Your password must contain at least 8 characters.</p>
    <p>Your password can’t be a commonly used password.</p>
    <p>Your password can’t be entirely numeric.</p>
</div>
</body>

{% endblock %}