{% extends 'base.htm' %}

{% load static %}

{% block content %}
<style type="text/css">

	@media (max-width: 768px) { 
		.right-column {
			margin-left: 0px;
		}
    .create-post-bar .lead {
      font-size: 13px;
    }
    .create-post-bar .create-post-btn {
      font-size: smaller;
    }
	}

	@media (min-width: 768px) { 
		.right-column {
			margin-left: 20px;
		}
	}

	.blog-post-container{
		margin-bottom: 20px;
		width: 100%;
	}
	.create-post-bar {
		background-color: transparent;
		margin-bottom:20px;
	}

  .create-post-btn {
    padding: 10px 20px;
    background-color: #2e3339;
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
  }

  .create-post-btn:hover {
    color: #fff;
    background-color: #1f2428;
  }

	.left-column {
		padding:0px;
	}

	.right-column {
		padding: 0px;
	}
	.lead {
		font-size: 17px;
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-weight: 500;
	}
</style>


<!-- main content -->
<div class="container">
	<div class="row">

		<!-- blog feed -->
		<div class="left-column col-lg-7 offset-lg-1">

			<!-- Top 'create post' bar -->
			<div class="d-lg-none mb-1">
				<div class="card m-auto d-flex flex-column p-3 create-post-bar">
					<img class="img-fluid d-block m-auto pb-2" src="{% static 'djBlogge-icon.png' %}" width="22" height="22">
					<p class="lead">Ready to unleash your blogging genius? Step into our extraordinary blogging hub and let your creativity run wild. 
            With our user-friendly interface and powerful features, you'll be crafting captivating posts in no time!</p>
					<p class="m-auto"><a class="create-post-btn" href="{% url 'blog:create' %}">Compose your masterpiece</a></p>
				</div>
			</div>
			<!-- end Top 'create post' bar -->

			<!-- Blog posts-->
			{% if blog_posts %}
				{% for post in blog_posts %}
					<div class="blog-post-container">
						{% include 'blog/snippets/blog_post_snippet.htm' with blog_post=post %}
					</div>
				{% endfor %}
			{% else %}
				<div class="blog-post-container">
					{% include 'blog/snippets/blog_post_snippet.htm' with query=query %}
				</div>
			{% endif %}
			<!-- End Blog posts-->
		</div>
		<!-- end blog feed -->


		<!-- Right 'create post' column  -->
		<div class="right-column col-lg-3 d-lg-flex d-none flex-column">

			<div class="card create-post-bar d-flex flex-column p-3">
				<img class="img-fluid d-block m-auto pb-2" src="{% static 'djBlogge-icon.png' %}" width="42" height="42">
				<p class="lead">Ready to unleash your blogging genius? Step into our extraordinary blogging hub and let your creativity run wild. 
          With our user-friendly interface and powerful features, you'll be crafting captivating posts in no time!</p>
        <p class="m-auto"><a class="create-post-btn" href="{% url 'blog:create' %}">Compose masterpiece</a></p>
			</div>
		
		</div>
		<!-- end Right 'create post' column  -->



	</div>
</div>

{% endblock content %}
