{% autoescape off %}
    Hello, {{ user.email }}!

    Your request to reset your password has just come in, and we are here to assist you with that.

    To begin the password reset process for your Account {{ user.email }} at djBlogge,

    Simply click this link to set up a new password for your account:

    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

    Having issues with the link's click? Please ensure that this email has not been flagged as spam or junk; doing so should enable the links once more.
    Alternatively, copy the link and paste it into your browser.

    Don't worry if you didn't ask for a password reset. You may disregard this email, your password is still secure with us continue enjoying the rest of your day. 

    Happy Exquisite Blogging,
    Team djBlogge
{% endautoescape %}
