<style>
    .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    }

    .pagination .page-item {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    }

    .pagination .page-item.active a {
    background-color: #2e3339;
    color: #fff;
    border-radius: 5px;
    }

    .pagination .page-link {
    color: #888;
    cursor: pointer;
    border: 1px dotted #666;
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    }

    .pagination .page-link:hover {
    background-color: #2e3339;
    color: #fff;
    }

    .pagination .page-link:focus {
    outline: none;
    box-shadow: none;
    }

    .pagination .page-item:first-child .page-link,
    .pagination .page-item:last-child .page-link {
    padding: 6px 10px;
    }

    .pagination .page-item:first-child .page-link {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    }

    .pagination .page-item:last-child .page-link {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    }

    @media (max-width: 576px) {
        .pagination .page-item {
        margin-right: 3px;
        }
        
        .pagination .page-link {
        padding: 3px 6px;
        font-size: 14px;
        }
    }
</style>

<div class="d-flex flex-column m-auto pagination mt-5">
    <nav aria-label="Page navigation">
        <ul class="justify-content-center" id="pagination-list">
            {% if blog_posts.has_previous %}
                <li class="page-item">
                    <a class="page-link" onclick="goToPage('{{ blog_posts.previous_page_number }}')">&laquo; Previous</a>
                </li>
            {% endif %}
        
            {% for i in blog_posts.paginator.page_range %}
                {% if blog_posts.number == i %}
                    <li class="page-item active"><a class="page-link">{{ i }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" onclick="goToPage('{{ i }}')">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            
            {% if blog_posts.has_next %}
                <li class="page-item">
                    <a class="page-link" onclick="goToPage('{{ blog_posts.next_page_number }}')">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" onclick="goToPage('{{ blog_posts.paginator.num_pages }}')">Last &raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>

<script>
    function goToPage(pageNumber) {
        var url = '?{% if query %}search_q={{query}}&{% endif %}page=' + pageNumber;
   
        window.location.href = url;
    }
</script>



